<div class="row mt-5">
  <div class="col-6 mb-5">
    <%= link_to "店舗編集", admin_shop_shopedit_path, class: "btn btn-user w-50" %>
  </div>
  <div class="col-6 mb-5">
    <%= link_to "休日管理",  admin_shop_holidays_path, class: "btn btn-user w-50" %>
  </div>
  <div class="col-6 mb-5">
    <%= link_to "お知らせ登録",  admin_shop_notices_path, class: "btn btn-user w-50" %>
  </div>
  <div class="col-6 mb-5">
    <%= link_to "クーポン管理", admin_shop_coupon_path, class: "btn btn-user w-50" %>
  </div>
  <div class="col-6 mb-5">
    <%= link_to "画像管理", admin_shop_images_path, class: "btn btn-user w-50" %>
  </div>
  <div class="col-6 mb-5">
    <%= link_to "スタッフ管理", admin_shop_staffs_path, class: "btn btn-user w-50" %>
  </div>
  <div class="col-6 mb-5">
    <%= link_to "タグ管理", admin_shop_tag_path, class: "btn btn-user w-50" %>
  </div>
</div>