<h1>タグ管理</h1>
<p>お店の特徴を3つまで追加でき、店舗ページに反映されます。</p>
<%= form_with model: @shop, url: admin_shop_shop_path(@shop), local: true do |form| %>
  <%= render "layouts/error", model: @shop %>
  <div class="form-check">
    <%= form.label :labels, "タグを選択（3つまで）" %>
    <div class="row mb-3">
      <% @labels.each do |label| %>
        <div class="col-6">
          <%= check_box_tag 'shop[label_ids][]', label.id, @shop.labels.include?(label), class: "form-check-input" %>
          <label class="form-check-label"><%= label.name %></label><br>
        </div>
      <% end %>
    </div>
  </div>
  <div class="field">
    <%= form.label :labels, "新しいタグを追加できます。（8文字まで）" %>
      <%= text_field_tag 'shop[label_names][]', nil, placeholder: "タグ1", class: "form-control mb-3" %>
      <%= text_field_tag 'shop[label_names][]', nil, placeholder: "タグ2", class: "form-control mb-3" %>
      <%= text_field_tag 'shop[label_names][]', nil, placeholder: "タグ3", class: "form-control mb-3" %>
  </div>
  <%= form.submit class: "btn btn-user w-100" %>
<% end %>
