<div class="container-xxl mt-5 mb-5">
  <h1><%= @shop.name %>SNS管理</h1>
    <%= form_with model: @shop, url: admin_shop_shop_path(@shop), local: true do |form| %>
    <% if @shop.errors.any? %>
      <div id="error_explanation" class="alert alert-danger">
        <h2><%= pluralize(@shop.errors.count, t('errors.count')) %> <%= t('errors.prohibited') %>:</h2>
        <ul>
          <% @shop.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>


    <div class="mb-3">
      <%= form.label :facebook %>
      <%= form.text_field :facebook, class: "form-control", rows: 20 %>
    </div>
    <div class="mb-3">
      <%= form.label :twitter, "x(旧Twitter)" %>
      <%= form.text_field :twitter, class: "form-control", rows: 20 %>
    </div>
    <div class="mb-3">
      <%= form.label :instagram %>
      <%= form.text_field :instagram, class: "form-control", rows: 20 %>
    </div>
    <div class="mb-3">
      <%= form.label :tiktok %>
      <%= form.text_field :tiktok, class: "form-control", rows: 20 %>
    </div>
    <div class="mb-3">
      <%= form.label :youtube %>
      <%= form.text_field :youtube, class: "form-control", rows: 20 %>
    </div>
      <%= form.submit t('helpers.submit.create'), class: "btn btn-user w-100" %>
    </div>
  <% end %>
</div>
