<section class="calendar">
  <%= month_calendar do |date| %>
    <div class="day">
      <%= date.day %>
      <% if @holidays.include?(date) %>
        <div class="holiday">休</div>
      <% end %>
      <% notices_on_date = @notices_by_date[date] || [] %>
      <% notices_on_date.each do |notice| %>
        <div class="notice">
          <a data-bs-toggle="modal" data-bs-target="#notice-Modal-<%= notice.id %>">
            <%= notice.title %>
          </a>
          <%= render "shops/calender_modal", notice: notice %>
        </div>
      <% end %>
    </div>
  <% end %>
</section>
