<section class="container-xxl mb-5">
  <% if @comments.any?%>
    <h2>ユーザーの口コミ</h2>
    <%= render @comments%>
  <% end %>



  <% if user_signed_in? %>
    <%= form_with model: @comment, url:user_comments_path do | f| %>
      <%= render "layouts/error", model: @comment %>

      <div class="row mb-3">
        <div class="mb-3">
          <h2><%= f.label :comment, "口コミ" %>を登録</h2>
          <%= f.text_area :comment, class: "form-control", rows: 5 %>
        </div>
      </div>
      <%= f.hidden_field :shop_id, value: @shop.id %>
      <%= f.submit class: "btn btn-user w-100" %>
    <% end %>
  <% else %>
    <%= link_to "ログイン", login_path %>して口コミを投稿しましょう！
  <% end %>
</section>
