<div class="row mb-5">
  <div class="col-4">
    <% if shop.vacant_job_id %>
      <div class="btn btn-primary w-100">ただいま空席あります！</div>
    <% end %>
    <% if shop.shop_logo.present? %>
      <%= image_tag shop.shop_logo.to_s, class: "img-fluid w-100" %>
    <% else %>
      <img src="/no-image.png" class="img-fluid w-100">
    <% end %>
    <% if shop.distance.present? %>
      <div class="shop_distance text cente mt-1"><%= shop.distance.round(2) %> km</div>
    <% end %>
  </div>
  <div class="col">
    <div class="mb-3 row">
      <span class="shop_area_name col-sm-5 mb-2"><%= shop.area.name %></span>
      <span class="shop-genre-name <%= shop.genre.rubi %> col-sm-5"><%= shop.genre.name %></span>
    </div>
    <h3><%= link_to shop.name, shop_path(shop) %></h3>
    <%= shop.title %>
    <hr>
    <% if shop.hours.present? %>
      <div>営業時間:&emsp;<%= shop.hours %></div>
    <% end %>
    <% if shop.budget.present? %>
      <div>予算:&emsp;<%= shop.budget %></div>
    <% end %>
    <% if shop.access.present? %>
      <div>アクセス:&emsp;<%= shop.access %></div>
    <% end %>
  </div>
</div>
