<% title = @shop.prefecture.display_name %>
<%= render "layouts/header", title: title %>

<div class="container-xxl">
  <div class="bread-column">
    <%= link_to "アルバ", root_path %>
    &emsp;-&emsp;
    <%= link_to @shop.prefecture.display_name, prefectures_path(@shop.prefecture.name) %>
    &emsp;-&emsp;
    <%= link_to @shop.district.display_name, districts_path(@shop.district.name) %>
    &emsp;-&emsp;
    <%= link_to @shop.area.name, area_path(@shop.area) %>
    &emsp;-&emsp;
    <%= @shop.name %>
  </div>

  <div class="shop_detail">
    <% if @shop.image1.present? %>
      <div class="text-center mb-3">
        <%= image_tag @shop.image1.to_s %>
      </div>
    <% end %>
    <div class="row mb-3">
      <div class="col-sm-7">
        <h2><%= @shop.name %></h2>
      </div>
      <div class="col-sm-5 text-end">
        <h2><%= @shop.tel %></h2>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-sm-6">
        <div class="shop-genre-name <%= @shop.genre.rubi %> text-center">
          <%= @shop.genre.name %>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="shop-area-name text-center">
          <%= @shop.area.name %>
        </div>
      </div>
    </div>

   </div>
   <%= render "icon" %>
</div>
      
<div class="container-xxl mt-5">
  <%= render "calendar" %>
</div>
<%= render "description" %>
<%= render "coupon" %>
<%= render "map"%>
<%= render "basic_info" %>
