<% title = @shop.prefecture.display_name %>
<%= render "layouts/header", title: title %>

<div class="container-xxl">
  <div class="bread-column">
    <%= link_to "アルバ", root_path %>
    &emsp;-&emsp;
    <%= link_to @shop.prefecture.display_name, prefectures_path(@shop.prefecture.name) %>
    &emsp;-&emsp;
    <%= link_to @shop.district.display_name, districts_path(@shop.district.name) %>
    &emsp;-&emsp;
    <%= link_to @shop.area.name, area_path(@shop.area) %>
    &emsp;-&emsp;
    <%= @shop.name %>
  </div>
   <%= render "shop_header" %>
   <%= render "icon" %>
  <%= render "calendar" %>
</div>
      

<%= render "description" %>
<%= render "coupon" %>
<div class="container-xxl mb-5">
  <%= render "map"%>
  <%= render "basic_info" %>
</div>
