<% title = @shop.prefecture.display_name %>
<%= render "layouts/header", title: title %>

<div class="container-xxl">
  <div class="bread-column">
    <%= link_to "アルバ", root_path %>
    &emsp;-&emsp;
    <%= link_to @shop.prefecture.display_name, prefectures_path(@shop.prefecture.name) %>
    &emsp;-&emsp;
    <%= link_to @shop.district.display_name, districts_path(@shop.district.name) %>
    &emsp;-&emsp;
    <%= link_to @shop.area.name, area_path(@shop.area) %>
    &emsp;-&emsp;
    <%= @shop.name %>
  </div>

  <div class="shop_detail">
    <div class="row">
      <div class="col-sm-7">
        <h2><%= @shop.area.name + @shop.genre.name %><br><%= @shop.name %></h2>
      </div>
      <div class="col-sm-5 text-end">
        <h2><%= @shop.tel %><br><%= @shop.area.name %></h2>
      </div>
    </div>
      <%= @shop.hours if @shop.hours %> |
      <%= @shop.access if @shop.access %> |
      <%= @shop.budget if @shop.budget %> |
      <%= "予約可" if @shop.reservation %> |
      <%= "Wifi有" if @shop.wifi %> |
      <%= "アルコール有" if @shop.alcohol %> |
      <%= "喫煙可" if @shop.smoking %> |
      <%= "English OK" if @shop.english %> |
      <%= "韓国語 OK" if @shop.korean %> |
      <%= "クレジットカード可" if @shop.card_payment %> |
      <%= "スマホ決済可" if @shop.mobile_payment %> |
      <%= @shop.website if @shop.website %> |
      <%= @shop.address if @shop.address %> |
      <%= @shop.coupon if @shop.coupon %> |
      <%= @shop.googlemap.html_safe if @shop.googlemap %> |
    <h3><%= @shop.title %></h3>
    <p><%= @shop.introduction %></p>
  </div>

  <div class="shop_basic_information mt-5">
    <h2><%= @shop.name %>の店舗情報</h2>
    <div class="row">
      <div class="col-3">
        店名
      </div>
      <div class="col-9">
        <%= @shop.name %>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        TEL
      </div>
      <div class="col-9">
        <%= @shop.tel %>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        住所
      </div>
      <div class="col-9">
        <%= @shop.address %>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        アクセス
      </div>
      <div class="col-9">
        <%= @shop.access %>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        営業時間
      </div>
      <div class="col-9">
        <%= @shop.hours %>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        定休日
      </div>
      <div class="col-9">
        <%= @shop.holiday %>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        平均予算
      </div>
      <div class="col-9">
        <%= @shop.budget %>
      </div>
    </div>
  </div>
</div>