<div class="container-xxl">
  <div class="bread-column">
    <%= link_to "アルバ", root_path %>
    &emsp;-&emsp;
    <%= link_to @shop.prefecture.display_name, prefectures_path(@shop.prefecture.name) %>
    &emsp;-&emsp;
    <%= link_to @shop.district.display_name, districts_path(@shop.district.name) %>
    &emsp;-&emsp;
    <%= link_to @shop.area.name, area_path(@shop.area) %>
    &emsp;-&emsp;
    <%=  @shop.name %>
  </div>
  <%= render "shop_header" %>
  <% if @shop.vacant_job_id %>
    <div class="btn btn-primary w-100 mb-3">ただいま空席あります！</div>
  <% end %>
  <%= render "icon" %>
  <%= render "staff" %>
  <%= render "calendar" %>
</div>

<%= render "description" %>
<%= render "comment" %>
<%= render "coupon" %>

<div class="container-xxl mb-5">
  <%= render "sns", shop: @shop %>
  <%= render "map"%>
  <%= render "basic_info", shop: @shop %>
</div>
