<div class="container-xxl">
    <div class="bread-column">
      <%= link_to "アルバ", root_path %>
      &emsp;-&emsp;
      <%= link_to t("prefectures.#{@district.prefecture.name}"), prefectures_path(@district.prefecture.name) %>

      &emsp;-&emsp;

      <%= @title %>

  </div>


  <% if @areas.any? %>
    <h2><%= @district.display_name %>のエリア</h2>
    <div class="row area-links">
      <%= render @areas %>
    </div>
  <% end %>

  <h2><%= @district.display_name %>のバー</h2>
  <%= render "shops/near_serch", url:  districts_path(@district.name) %>
  <%= render @shops %>

  <% if @genres.any? %>
    <div class="genre">
      <h2><%= @district.display_name %>バージャンル別</h2>
      <div class="row">
        <% @genres.each do |genre| %>
          <div class="col-sm-4 mb-3">
            <div class="card">
              <% if false%>
                <img src="..." class="card-img-top" alt="...">
              <% end %>
              <div class="card-body">
                <h5 class="card-title"><%= link_to genre.name, genre_area_path(genre.rubi, @district.name) %></h5>
                <p class="card-text"><%= genre.description %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>