<div class="container-fluid footer">
  <div class="row area-links">
    <%= render "top/prefecute_modal" %>
  </div>

  <nav class="footer_nav">
    <%= link_to "アルバ", root_path %>
    <%= link_to "サイトマップ", "#" %>
    <%= link_to "店舗ログイン", shop_login_path %>
    <%= link_to "利用規約", terms_path %>
    <%= link_to "プライバシーポリシー", privacy_policy_path %>
    <%= link_to "管理", admin_shops_path %>
    <%= link_to "お問い合わせ", contacts_path %>
  </nav>
</div>
<div class="copy text-center">
  &copy;allbar all right reserved.
</div>
