<header>
  <div class="container-fluid">
    <div class="row">
      <div class="col-6">
        <div class="page-title"><%= @title %>のBAR・飲み屋情報ポータル</div>
        <h1>Allbar -アルバ<%= @title %>版-&emsp;<%= @genre.name + "一覧" if @genre.present? %></h1>
      </div>

      <div class="col-6 text-end">
        <div class="signed">
          <% if user_signed_in? %>
            ようこそ<%= current_user.name %>さん
            <%= link_to 'ログアウト', logout_path, data: {turbo_method: :delete, turbo_confirm: "本当にログアウトしますか？" } %>
          <% else %>
            <%= link_to "ログイン", login_path %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</header>
